* {
  /*`otf-font-awesome` for icons*/
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10px;
  min-height: 0;
}

window#waybar {
  background: #0d0d0d;
  color: #61538D; 
  transition-property: background-color;

}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
}

#workspaces {
}

#window {
  margin: 2;
  padding-left: 8;
  padding-right: 8;
  font-size:12px;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 0;
  color:#61538D;
}

button:hover {
  background: inherit; 
  background-color: rgba(0,0,0,0.3);
 }

#workspaces button {
  padding: 0 4px;
}

#workspaces button:hover{ 
}

#workspaces button.focused {
  box-shadow: inset 0 -2px #c9545d;
  background-color: #c0abd3; 
  color:#c9545d;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button.active {
    border-top: 2px solid #61538D;
    border-left: 2px solid #61538D;
    background-color: rgba(0,0,0,0.3);
}

#mode {
  background-color: #64727D;
}

#clock,
#disk,
#temperature,
#network,
#pulseaudio,
#wireplumber {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: #61538D;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  font-size:14px;
  font-weight: bold;
}

label:focus {
  background-color: #000000; 
}

#network.disconnected {
  background-color: #f53c3c;
}

#temperature.critical {
  background-color: #eb4d4b;
}

